.header {
    &__main {
        background: $white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__brand {
        &--logo {
            width: 40px;
        }
        &--name {
            font-size: 20px;
            color: $gray-dark;
            padding: 0;
            margin: 0;
            a {
                color: $gray-dark;
            }
        }
        &--description {
            margin: 0;
            padding: 0;
            color: $gray;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
        }
    }
    &__fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0 0 20px rgba($black, .015);
    }
}