.logo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend .d-flex;
    li {
        margin: 15px;
    }
    &__wrapper {
        width: 100%;
    }
    &__horizontal {
        @extend .flex-row;
        @extend .align-items-center;
        @extend .flex-wrap;
    }
    &__vertical {
        @extend .flex-column;
        &.logo-list {
            &__left {
                text-align: left;
            }
            &__center {
                text-align: center;
            }
            &__right {
                text-align: right;
            }
        }
    }
    &__left {
        @extend .justify-content-start;
        &--md,
        &--lg,
        &--xl {
            @extend .justify-content-center;
        }
        &--md {
            @include media-breakpoint-up(md) {
                justify-content: flex-start !important;
            }
        }
        &--lg {
            @include media-breakpoint-up(lg) {
                justify-content: flex-start !important;
            }
        }
        &--xl {
            @include media-breakpoint-up(xl) {
                justify-content: flex-start !important;
            }
        }
    }
    &__center {
        @extend .justify-content-center;
    }
    &__right {
        @extend .justify-content-end;
        &--md,
        &--lg,
        &--xl {
            @extend .justify-content-end;
        }
        &--md {
            @include media-breakpoint-up(md) {
                justify-content: flex-end !important;
            }
        }
        &--lg {
            @include media-breakpoint-up(lg) {
                justify-content: flex-end !important;
            }
        }
        &--xl {
            @include media-breakpoint-up(xl) {
                justify-content: flex-end !important;
            }
        }
    }
}