.social-menu {
    &__item {
        .nav-link {
            transition: .3s ease-in-out;
            font-size: 20px;
            padding: 10px;
        }
    }
    &__lg {
        .nav-link {
            font-size: 26px;
        }
    }
    &__xl {
        .nav-link {
            font-size: 36px;
        }
    }
    &__light {
        .social-menu {
            &__item {
                .nav-link {
                    color: $gray;
                }
            }
        }
    }
    &__dark {
        .social-menu {
            &__item {
                .nav-link {
                    color: rgba($white, .7);
                }
            }
        }
    }
    @each $color in $social-scheme {
        $color-name: nth($color, 1);
        $color-val: nth($color, 2);
        &__#{$color-name} {
            .nav-link {
                &:hover,
                &:focus,
                &:active {
                    color: $color-val;
                }
                .social-menu__color & {
                    color: $color-val;
                }
            }
        }
    }
}