.module {
    position: relative;
    &__title {
        font-size: 30px;
        font-weight: 600;
        color: $black;
    }
    &__subtitle {
        font-size: 16px !important;
        font-weight: 600;
        color: $red;
    }
    &__description {
        font-size: 16px;
        font-weight: 300;
        color: $gray-darker;
        line-height: 30px;
    }
    &__red {
        @include linear-gradient($red, $pink);
        .module {
            &__title,
            &__subtitle,
            &__description {
                color: $white;
            }
            &__subtitle {
                opacity: .5;
            }
            &__description {
                opacity: .8;
            }
        }
    }
    &__background {
        position: absolute;
        pointer-events: none;
        z-index: 1;
        &--tl,
        &--tc,
        &--tr {
            top: 0;
        }
        &--ml,
        &--mr {
            top: 50%;
            transform: translateY(-50%);
        }
        &--mc {
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        &--bl,
        &--bc,
        &--br {
            bottom: 0;
        }
        &--tc,
        &--bc {
            left: 50%;
            transform: translateX(-50%);
        }
        &--tr,
        &--mr,
        &--br {
            right: 0;
        }
        &--tl,
        &--ml,
        &--bl {
            left: 0;
        }
        & + .module__wrapper {
            position: relative;
            z-index: 2;
        }
    }
}

@import "modules/data-visualization";
@import "modules/frontend-development";
@import "modules/creation-proccess";