$font-scheme: (
    montserrat: "Montserrat"
);

$color-scheme: (
    gray: #999999,
    gray-dark: #555555,
    gray-darker: #333333,
    gray-light: #bbbbbb,
    gray-lighter: #F8F9FA,
    white: #ffffff,
    black: #181818,
    red: #E95841,
    pink: #E94B63,
    green: #009975
);

$social-scheme: (
    instagram: $bc-instagram,
    dribbble: $bc-dribbble-2,
    github: $bc-github,
    linkedin: $bc-linkedin,
    facebook: $bc-facebook,
    twitter: $bc-twitter,
    behance: $bc-behance
);