//Fonts
$montserrat: font(montserrat), sans-serif;

//Colors
$gray: color(gray);
$gray-dark: color(gray-dark);
$gray-darker: color(gray-darker);
$gray-light: color(gray-light);
$gray-lighter: color(gray-lighter);
$white: color(white);
$black: color(black);
$red: color(red);
$pink: color(pink);

//Social colors
$instagram: social(instagram);
$dribbble: social(dribbble);
$github: social(github);
$linkedin: social(linkedin);
$facebook: social(facebook);
$twitter: social(twitter);

$body-bg: $gray-lighter;
$body-color: $gray-darker;